.header {
  background-color: #ccdbb9;
  height: 50px;
  top: 0px;
  /* border-bottom-style: solid; 
  border-bottom-width: thin;
  border-bottom-color: #464e44; */
}
#tytul1 {
  position: absolute;
  width: 120px;
  height: 38px;
  right: 5px;
  top: 7px;

  font-style: normal;
  font-weight: 1000;
  font-size: 30px;
  line-height: 38px;
  color: #464e44;
}
#arrow {
  position: absolute;
  left: 2px;
  top: 7px;
  font-size: 2em;
  color: #464e44;
  cursor: pointer;
}
